################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/MyFirstApp/FileContentIndex/482cd7c7-4ec7-4b35-8f64-728cfc2b7c6e.vsidx
