################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/MyFirstApp/FileContentIndex/482cd7c7-4ec7-4b35-8f64-728cfc2b7c6e.vsidx
/.vs/MyFirstApp/FileContentIndex/0e7b2741-d230-4b09-9696-532e0fa79a5e.vsidx
/.vs/MyFirstApp/FileContentIndex/1633b302-3377-430f-817f-f7b249520b24.vsidx
/.vs/MyFirstApp/FileContentIndex/46376daa-c88f-4d30-b0f1-85580a5a3d8a.vsidx
/.vs/MyFirstApp/FileContentIndex/fe0389d7-d03a-49e3-92e4-e99cda073933.vsidx
