################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/MyFirstApp/FileContentIndex/482cd7c7-4ec7-4b35-8f64-728cfc2b7c6e.vsidx
/.vs/MyFirstApp/FileContentIndex/0e7b2741-d230-4b09-9696-532e0fa79a5e.vsidx
/.vs/MyFirstApp/FileContentIndex/1633b302-3377-430f-817f-f7b249520b24.vsidx
/.vs/MyFirstApp/FileContentIndex/46376daa-c88f-4d30-b0f1-85580a5a3d8a.vsidx
/.vs/MyFirstApp/FileContentIndex/fe0389d7-d03a-49e3-92e4-e99cda073933.vsidx
/.vs/MyFirstApp/FileContentIndex/08fd1cca-4f7d-4a28-97bc-d5335cfe9610.vsidx
/.vs/MyFirstApp/FileContentIndex/36f57ad7-06bb-4587-a0f9-44cc58910c53.vsidx
/.vs/MyFirstApp/FileContentIndex/71156ef7-636c-4022-8eab-7184a00fccc8.vsidx
/.vs/MyFirstApp/FileContentIndex/88a7221c-9f9a-42be-a9ae-51a0b1f259ca.vsidx
/.vs/MyFirstApp/FileContentIndex/8bec3d0f-5bb1-450b-b7c0-400a60ffb280.vsidx
/.vs/MyFirstApp/FileContentIndex/41a143ab-2631-4207-b05b-c584cd1d27ed.vsidx
/.vs/MyFirstApp/FileContentIndex/6c36ccb4-b65b-4cc4-b8c8-5993c342b2fa.vsidx
/.vs/MyFirstApp/FileContentIndex/88691f1e-909d-4b62-bb13-c4c6e2589937.vsidx
/.vs/MyFirstApp/FileContentIndex/9c7497b8-294e-45ca-9664-912f225ed4fc.vsidx
/.vs/MyFirstApp/FileContentIndex/d0087fbd-0004-4d2d-b380-2c23c0b5f42c.vsidx
/.vs/MyFirstApp/FileContentIndex/8ae2b110-1409-423c-9c20-8b6084da8c54.vsidx
/.vs/MyFirstApp/FileContentIndex/aadee057-de81-4b5f-95d1-4fdb10e32046.vsidx
/.vs/MyFirstApp/FileContentIndex/d34928ee-1bd9-4074-94f6-1f5c3c22fff6.vsidx
/.vs/MyFirstApp/FileContentIndex/d822a7dd-028c-417c-9ba0-a966558303d5.vsidx
/.vs/MyFirstApp/FileContentIndex/e7ed1c89-93aa-420e-a568-734a5d5887c6.vsidx
